:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --light-grey: #d3d3d3;
  --green-one: #05676e;
  --green-two: #489c79;
  --ade: 700;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato',Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: var(--ade);
}

h2 {
  font-size: 24px;
  font-weight: var(--ade);
}

h3 {
  font-size: 18px;
  font-weight: var(--ade);
}

a {
  color: var(--primary-color);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:visited {
  color: var(--green-one);
}

a:active {
  color: var(--green-two);
}

button {
  border: none;
  font-family: inherit;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button__secondary {
  background-color: var(--secondary-color);
  color: var(--dark-grey);
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile__portrait {
  float: left;
  width: 300px;
  margin-right: 40px;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .profile__portrait {
    margin-left: 40px;
  }
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile {
  max-width: 700px;
  height: 540px;
  margin: 0 auto;
  margin-top: 100px;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 1px;
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: 9999;
  background: #fff;
}

@media (min-width: 481px) and (max-width: 767px) {
  .page-header {
    float: none;
    width: 50%;
  }
}

.page-header .icon {
  display: none;
}

.page-header__item {
  flex: 0 1 200px;
}

@media (min-width: 481px) and (max-width: 767px) {
  .page-header__item {
    float: none;
    width: 100%;
  }
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* Grid fallback */

.grid__item {
  display: inline-block;
  width: 100%;
}

/* Styling CSS grid */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.grid__item {
  background-color: whitesmoke;
  padding: 20px;
}

/* @media query */

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

.button,
button {
  /* overwrites browser defaults and resets the border */
  border: solid;
  display: inline-block;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the button */
  background-color: whitesmoke;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;

  /* width of the border, type, color */
  /*border-bottom: 2px solid rgba(0, 0, 0, 0.3);*/
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces opacity of the button to 80% */
  opacity: 0.8;
}

/* ABOUT PAGE */

.profile__about {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.profile_about_img {
  max-width: 350px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .profile_about_img {
    max-width: 700px;
    text-align: center;
  }
}

.navigation-list_about {
  list-style-type: none;
  display: inline;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

/*
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
*/

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

table {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

/* work PAGE */

.work__profile {
  max-width: 1100px;
  margin: 0 auto;
}

.standard-label {
  display: block;
}

.grid-img {
  width: 300px;
  border: solid;
  border-radius: 5px;
}


/* BLOG PAGE */
.img-icon {
  border: none;
}

@media screen and (max-width: 600px) {
  .img-icon {
    width: 150px;
  }
}

.topnav {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a {
  float: right;
  display: block;
  color: #489c79;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 570px;
  background: white;
  text-align: center;
}

.main h2 {
  font-family: 'Special Elite', cursive;
}

.main__portrait {
  float: center;
  width: 250px;
  height: 390px;
}

.main_summary {
  padding: 16px;
  margin-top: 0px;
  background: white;
  text-align: left;
}

.main__design {
  padding: 16px;
  margin-top: 30px;
  background: white;
  text-align: left;
}

.main__design__portrait {
  float: right;
  width: 350px;
  height: 520px;
}
